.kek1 {
	width: 700px;
	height: 500px;
	transition: 1s;
	
}
.foto{
	width: 150px;
	height: 200px;
	position:absolute;
}
.kek1:hover{
	transform: scale(1.2);
}

.grafon {
	background: url("https://i.gifer.com/9uMz.gif");
	background-color: gray;
}
.main {
	background-color: black;
    color: white;
	font-size: 30px;
	font: 48px/64px GOST type B;
}
.kaput {
   
   font-size: 500px;
   vertical-align: middle;
   text-align: center;
   margin-top: 100px;
   
   
}
.kaput1{
	width: 700px;
	height: 500px;
	transition: 1s
	
	
}
.kaput1:hover{
	
	transform: scale(1.2);
}
.video{
	
}
.kekmachine{
	background: url("https://i.gifer.com/8Ls9.gif");
}
.top{
	color: white;
	 background: black;
	 margin: 0 auto;
	 
	 font: 48px/64px GOST type B;
margin-left:170px;
}
.keki4puk{
	background: url("https://i.gifer.com/7Rez.gif");
}
.kartonka4 {
	width: 350px;
}
